<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ "/_assets/css/main.css" | relative_url }}">
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="stylesheet" type="text/css" href="{{ "/_assets/css/syntax_highlight.css" | relative_url }}">
    <title>{{ site.title }} {{ page.title }}</title>
</head>
<body>
    <nav>
        <h3 id="name-header">Jonathan Parlett</h3>
        <!-- <span id="name-header">Jonathan Parlett</span> -->
        <ul class="nav-bar">
            <li><a href="/" {% if page.id == "home" %}class="active-page"{% endif %}>Home</a></li>
            <li><a href="/research" {% if page.id == "research" %}class="active-page"{% endif %}>Research</a></li>
            <li><a href="/teaching_materials" {% if page.id == "teaching" %}class="active-page"{% endif %}>Teaching Materials</a></li>
            <li><a href="/blog" | relative_url }}" {% if page.id == "blog" %}class="active-page"{% endif %}>Blog</a></li>
            <li><a href="{{ "/_data/documents/curriculum_vitae.pdf" | relative_url }}" {% if page.title == "Curriculum Vitae" %}class="active-page"{% endif %}>Curriculum Vitae</a></li>
        </ul>
    </nav>
    <main class="main_content">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>
</html>
